@import 'bellaboo';

$ycolor: #F3EACB;
$bcolor: #C5D0D4;
$rcolor: #F69189;

// Bootstrap hard corners
.container, .input-group-addon, .form-control {
  font-family: 'BELLABOO-Regular', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

.content {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.loaded {
  opacity: 1;
}

.clear-completed {
  margin-top: 21px;
  margin-bottom: 15px;
}

.panel-default {
  @extend .container;
  background-color: $ycolor;
}

.list-item {
  @extend .panel-default;
  border: none;
}

.btn {
  @extend .container;
  font-size: 14px;
}

.hr-header {
  border-color: $rcolor;
}

.hr-lines {
  border-color: $bcolor;
  margin-top: 7px;
  margin-bottom: 7px;
}

.input-group-addon:first-child {
  border-right: 1px solid #ccc;
}

.form-control:disabled {
  text-decoration: line-through;
  background-color: #F3EACB;
}